<h1>New Advocates</h1>
<%= form_with scope: :advocate, url: advocates_path, local: true do |form| %>
 

 
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :state_id %><br>
    <%= form.select :state_id, State.all.collect {|p| [ p.name, p.id ] } %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<%end%>